#modal_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: 0;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #676767;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);

}

#modal_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: none;
	border: solid 1px #FFF;
	border-bottom: 0;
	cursor: default;
	padding: 0em;
	margin: 0em;
	display:none;
}

#modal_content {
	background: none;
	padding: 1em 1.75em;
	margin: 0em;
    text-align: center; 
}



#modal_message {
	text-align:center;
	padding-left: 0;
	padding:30px 0;
	font-size:15px;
}

#modal_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#modal_panel button.btn-default { padding: 10px 35px;
    margin: 0 3px;
    font-size: 12px; background: #fff;
    color: #555;
    border: 1px solid #b8b8b8; }

#modal_panel button.btn-primary { padding: 10px 35px;
    margin: 0 3px;
    font-size: 12px; background: #273e82;
    color: #fff;
    border: 1px solid #273e82;}

#modal_panel button#button_yes { padding: 10px 35px;
    margin: 0 3px;
    font-size: 12px; background: #fff;
    color: #555;
    border: 1px solid #b8b8b8; }

#modal_panel button#button_no { padding: 10px 35px;
    margin: 0 3px;
    font-size: 12px; background: #273e82;
    color: #fff;
    border: 1px solid #273e82; }

#modal_panel button#modal_cancel { padding: 10px 35px;
    margin: 0 3px;
    font-size: 12px; background: #fff;
    color: #555;
    border: 1px solid #b8b8b8; }

#modal_panel button#modal_ok { padding: 10px 35px;
    margin: 0 3px;
    font-size: 12px; background: #273e82;
    color: #fff;
    border: 1px solid #273e82; }


#modal_prompt {
	margin: .5em 0em;
}